
    @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

    *{
        font-family: 'Fira Sans', sans-serif;
    }

.login-wrapper {
  background: url("../../assets/cocis.jpg") center/cover no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    min-width: 500px;
    padding-top: 60px;
    margin-left: 42%;
  }
  
  .login-form-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form {
    margin-bottom: 15px;
  }
  
  .login-button {
    width: 100%;
  }

  .text-right {
    text-align: center;
    margin-top: 10px;
  }
  